###Python basics
    -Hello World
    -Variables

In [1]:
print("Hello World!")

Hello World!

In [3]:
a = 10
b  =10.5
print(a)
print(b)

10
10.5

In [4]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [5]:
c = "hello python"
print(type(c))

<class 'str'>

In [7]:
d = 5+3j
print(type(d))

<class 'complex'>

In [9]:
name = input()
print("Hello",name)

Shubham
Hello Shubham

In [10]:
name = input()
print("Hello", end = ' ')
print(name)

Shubham
Hello Shubham

In [11]:
a = input("Enter a number")
print(a)
print(type(a))

Enter a number10
10
<class 'str'>

In [16]:
a = int(a)
print(type(a))
print("The square of a is : " + str(a*a))

<class 'int'>
The square of a is : 100

In [19]:
print("Hello","World","I","Love","JAVA", sep = '\n\n')

Hello

World

I

Love

JAVA

In [20]:
print(a,end=',')
print(b)

10,10.5

In [21]:
a = 'Indians'
b = 'Mangoes'

In [23]:
a = 10
b = 20
print("You entered %d and %d"%(a,b))

You entered 10 and 20

In [22]:
print("{0} loves {1}".format(a,b))

Indians loves Mangoes

Arithmetic operators(+.-,*,**,/,//,%)

Multiple Variable assignment

In [24]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [25]:
# This is a single line comment

In [28]:
'''This is a 
multiple line comment'''

myString = '''This is
a multiple line Sting'''
print(myString)

This is
a multiple line Sting

IF-ELSE Condition

In [33]:
weather = input()

if weather == 'Rainy':
    print('Dont go outside')
elif weather == 'Cool':
    print("let's play!")
else:
    print('Go out')

Cool
let's play!

Loops

In [35]:
n = 10
i = 1

while i <= n:
    print('Step %d'%i)
    i = i+1
print('Loop Finished')

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop Finished

In [38]:
for i in range(1,10):
    print(i, end = ", ")

1, 2, 3, 4, 5, 6, 7, 8, 9,

In [39]:
for i in range(1,10,2):
    print(i, end = ", ")

1, 3, 5, 7, 9,

In [55]:
no = int(input())
ans = 1
for i in range(1,no+1):
    ans *= i
    
print(ans)

5
120

In [53]:
for i in range(10,0,-1):
    print(i, end = ',')

10,9,8,7,6,5,4,3,2,1,

In [54]:
n = 5
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y),end=' ')
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

Write a program to print prime numbers upto N!

In [61]:
N = int(input())

for i in range(2,N+1):
    flag = 0
    for j in range(2,i):
        if i%j == 0:
            flag = 1
    if flag == 0:
        print(i, end = " ")

13
2 3 5 7 11 13

Keyword Arguments:

In [62]:
def myFunc(score, lang, rollNo):
    print("I scored %d in %s"%(score, lang))
    print(rollNo)
    
myFunc(99,"Python", 16)

I scored 99 in Python
16

###Strings

In [77]:
a = "Coding Blocks"

print(a)

Coding Blocks

In [64]:
print(a[2])

d

In [65]:
print(a[-1])

s

In [66]:
print(len(a))

13

In [73]:
for i in a:
    print(i, end=" ")

C o d i n g   B l o c k s

In [76]:
a = "Mango"
b = "Juice"
print(a+b)
print(a*2)

MangoJuice
MangoMango

In [88]:
a[1:-2]
a[:]
a[-2:]

'ks'

In [89]:
'g ' in a

True

In [90]:
print("My Favourite fruit is %s"%("Mangoes"))

My Favourite fruit is Mangoes

In [91]:
para = """This is some 
paragraph written 
randomly."""

In [96]:
l = para.split()
print(l)
print(type(l))
print(type(l[0]))

['This', 'is', 'some', 'paragraph', 'written', 'randomly.']
<class 'list'>
<class 'str'>

In [98]:
fruit = "Mango"
fruit.upper()
fruit.lower()

'mango'

In [100]:
shake = "    Apple shake     "
print(len(shake))

20

In [104]:
shake = shake.lstrip()
print(len(shake))

16

In [105]:
shake = shake.rstrip()
print(len(shake))

11

In [107]:
shake = "   Apple Shake     "
print(len(shake))
shake = shake.strip()
print(len(shake))

19
11

In [108]:
a = "31425"
a.isdigit()

True

In [109]:
a = "JNJNSFJ"
a.isalpha()

True

In [111]:
a = "123dsfv"
a.isalnum()
b = "    "
b.isspace()

True

In [113]:
a = "I love to play Volleyball, I can do it all day!"

In [115]:
l = a.split()
print(l)

['I', 'love', 'to', 'play', 'Volleyball,', 'I', 'can', 'do', 'it', 'all', 'day!']

In [118]:
"_".join(l)

'I_love_to_play_Volleyball,_I_can_do_it_all_day!'

# Lists

In [119]:
l = [i*i for i in range(1,6)]
print(l)

[1, 4, 9, 16, 25]

# List Slicing

In [123]:
print(l[0:4])
print(l[-3])

[1, 4, 9, 16]
9

### Insertion and Deletion
    -append
    -insert
    -remove
    -pop
    -del

# Dictionary

In [128]:
d = {"Mango":100, "Apple":80}
print(d)
print(d['Mango'])

d['Guava'] = 60
print(d)

d["Grape"] = [10,20]
print(d["Grape"])

d["Pineapple"] = {"Small" : 90, "Large" : 150}
print(d)
print(d["Pineapple"]["Small"])

{'Mango': 100, 'Apple': 80}
100
{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Pineapple': {'Small': 90, 'Large': 150}}
90

In [131]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [134]:
if "Mango" in d:
    print("Price of Mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Price of Mango is 100

In [136]:
print(d.items())

dict_items([('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20]), ('Pineapple', {'Small': 90, 'Large': 150})])

In [137]:
d2 = {"Strawberry":70}

d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Pineapple': {'Small': 90, 'Large': 150}, 'Strawberry': 70}

In [140]:
l1 = ["Apple","Papaya","Guava"]
l2 = [100,120,30]

p = dict(zip(l1,l2))
print(p)

{'Apple': 100, 'Papaya': 120, 'Guava': 30}